.Navbar {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
background-color:#000;
padding: 15px;
}

.Navbar  a {
text-decoration: none;
font-size: 20px;
background: transparent; 
color: #fff;
}

.logo {
margin-left: 50px;
}

.list{
  list-style: none;
  display: flex;
  gap: 25px;
}

#toogler,
.Navbar label{
  display: none;
}

.button button {
position: relative;
width: 100px;
font-size: 20px;
background: transparent; 
color: #fff;
border: 1px solid #000;
cursor: pointer;
}

.active {
  width: 500px;
  min-height: 488px;
  position: absolute;
  top: 170px;
  background: rgb(182, 178, 178);
  z-index: 5;
  left: 878px;
  display: block;
  border-radius: 1%;
}

.hide-card {
  display: none;
}

#btn1 {
  width: 80px;
  height: 40px;
  position: absolute;
  background: gray;
  top: 400px;
  left: 193px;
}

@media screen and (max-width:741px){
.menu{
  width: 100%;
  max-height: 0;
  overflow: hidden;
}
.list{
flex-direction: column;
align-items: center;
padding: 20px;
}
.Navbar label{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

#toogler:checked ~ .menu{
max-height: 100%;

}
}


@media screen and (max-width:1410px){
.active{
  margin-left: -800px;
}}

@media screen and (max-width:631px){
  .active{
    margin-left: -800px;
    width: 440px;
    min-height: 400px;
  }}

  @media screen and (max-width:550px){
    .active{
      margin-left: -840px;
      width: 400px;
    }}

    @media screen and (max-width:460px){
      .active{
        margin-left: -880px;
        width: 380px;
      }}